@mixin font-para {
  font-family: "Copse", serif;
  font-size:1.8rem;
  line-height: 3.6rem;
}

@mixin font-title($font-size:3.6rem) {
  font-family:"Lora", serif;
  font-size:$font-size;
  line-height: #{$font-size * 2};
  @include mobile {
  }
}

@mixin font-header-title {
  font-family:"Exo", sans-serif;
  font-size:4rem;
	@include tablet {
		font-size: 1.8rem;

	}
	@include mobile {
		font-size:2.4em;
	}
	@media (max-width:355px) {
		font-size:0.8em;
	}
}

@mixin font-intro-title {
  font-size:7.2rem;
  font-family: 'Oswald', sans-serif;
  color: $color-orange;
  text-align:center;
  line-height:14.4rem;
	@include mobile {
		font-size:3.6rem;
		line-height:7.2rem;
	}

}

@mixin font-intro-para {
  font-size:3.2rem;
  font-family: 'Oswald', sans-serif;
  color: white;
  line-height:6.4rem;
	@include tablet {
		font-size:2.4rem;
		line-height:3.6rem;
	}
	@include mobile {
		font-size:1.8rem;
		line-height:3.6rem;
	}

}
