@mixin font-para {
  font-family: "Copse", serif;
  font-size:1.8rem;
  line-height: 3.6rem;
}

@mixin font-title($font-size:3.6rem) {
  font-family:"Lora", serif;
  font-size:$font-size;
  line-height: #{$font-size * 2};
  @include mobile {
    font-size: #{$font-size / 2}
  }
}

@mixin font-header-title{
  font-family:"Exo", sans-serif;
  font-size:5.6rem;
  color:white;
}
